@import "./dark.scss";

$body: map.get($theme, body);
$header: map.get($theme, header);
$list: map.get($theme, list);
$list-title: map.get($theme, list, title);
$list-nav: map.get($theme, list, nav);
$list-nav-selected: map.get($theme, list, nav, selected);
$list-item: map.get($theme, list, item);
$list-item-hover: map.get($theme, list, item, hover);
$list-item-primary: map.get($theme, list, item, primary);
$list-item-primary-hover: map.get($theme, list, item, primary, hover);
$list-item-secondary: map.get($theme, list, item, secondary);
$list-item-secondary-hover: map.get($theme, list, item, secondary, hover);
